.content-wrapper {
  display: flex;
  width: 800px;
  background-color: white;
  padding: 3rem 3rem 2rem 3rem;
  border-radius: 0.5rem;
  justify-content: center;
  margin: auto 0;

  .content {
    display: flex;
    flex-direction: column;

    .quote-wrapper {
      width: 100%;
      min-width: 700px;
      margin-top: 1rem;

      h1 {
        font-weight: lighter;
        text-align: center;
      }
    }

    .author-wrapper {
      margin-left: auto;
      margin-top: 2rem;

      h2 {
        display: inline-block;
        position: relative;
        font-weight: lighter;
        color: var(--mainBlue);
        cursor: pointer;
      }

      h2::after {
        content: '';
        width: 0px;
        height: 2px;
        left: 10px;
        background: var(--mainBlue);
        transition: 300ms;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        bottom: -10px;
      }

      h2:hover {
        &::after {
          width: 100%;
        }
      }

      .active {
        &::after {
          width: 100%;
        }
      }
    }

    button {
      margin: 2rem auto 0 auto;
      cursor: pointer;
      transition: 0.3s linear;

      &:hover {
        background-color: white;
        color: var(--mainBlue);
        transition: 0.3s linear;
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: unset;

    .content {
      .quote-wrapper {
        min-width: unset;
        margin: 3rem auto 1rem auto;
      }

      .author-wrapper {
        margin: 0 auto;
      }

      button {
        position: relative;
        margin: 0 auto;
        left: unset;
        transform: unset;
        margin-top: 1rem;
      }
    }
  }
}
